{% extends 'modelo.html' %}
{% block conteudo %}

<div id="login">


    <form action="/acesso" method="post">
        <h2>Login</h2>
        <div class="form-email">
        <label>E-mail</label>
        <input type="email" name="email" placeholder="nome@dominio.com" required>
        </div>
        <div class="fom-senha">
        <label>Senha</label>
        <input type="password" name="senha" id="senha" required>
        </div>

        {% if mensagem %}
         <p class="msgerro">{{mensagem}}</p>
         {% endif %}

         <button type="submit">Acessar</button>
    </form>
</div>
{% endblock %}